<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#">CampHero</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
        </ul>
        <form class="d-flex me-auto" role="search" method="GET" id="navBarSearch" action="/campgrounds/search">
          <input class="form-control me-4" name="q" type="search" placeholder="Search Campground" aria-label="Search">
          <button class="btn btn-outline-success" id="searchButton" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            <% if(!currentUser) { %> 
             
            <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } else { %> 
            <li class="nav-item">
              <i class="cid-user"></i>
              <a href="/users/<%= currentUserDetails.username%>" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                <path fill-rule="evenodd" d="M10.5 5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm.061 3.073a4 4 0 10-5.123 0 6.004 6.004 0 00-3.431 5.142.75.75 0 001.498.07 4.5 4.5 0 018.99 0 .75.75 0 101.498-.07 6.005 6.005 0 00-3.432-5.142z"></path></svg>
                 <%= currentUserDetails.username %></a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          
          <% } %> 
        </ul>
         
      </div>
    </div>
  </nav>
